@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:ital,wght@1,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Be Vietnam', sans-serif;
    background-color: rgb(88, 88, 88);

}

h2{
    font-size: 58px;
    color: #232C50;
    
}

a{
    text-decoration: none;
    font-size: 13px;
    color: #242E52;

}

button{
    height: 44px;
    width: 134px;
    border-radius: 20px;
    background-color: #F3603B;
    border: 1px;
    color: #FFFFFF;
    font-size: 13.18px;
    box-shadow: 1rem 1rem 1rem 1rem #d8032d,

    /* box-shadow: rgba(0,0,0, 0,5) */
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 64px;
    background-color: white;


}

.header__logo{
    margin-left: 153px;

}

.header__button{
    margin-right: 153px;

}

header div nav ul{
    display: flex;
    flex-direction: row;
    list-style-type: none;
  

}

header div nav ul li{
    margin-left: 8px;

}




/* .sectionone{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    justify-content: space-around;


  

}


.sectionone__articleone{
    width: 580;
    padding: 100px 68px;
    margin-left: -150px;
}

.sectionone__articletwo_ilistra{
    margin-right: -1400px;
    background-color: #d8032d;

} */